* {
	margin:0;
	padding:0;
}
body {
	color:#fff;
	font-family:verdana;
	background: url('../img/frisbee.jpeg') no-repeat fixed 0 -100px;
	padding-top:20px;
}
#wrapper {
	width:500px;
}
h1 {
	font-family: 'Shadows Into Light Two', cursive;
	margin-bottom:.5em;
	margin-left:20px;
}
h2 {
	font-weight:normal;
	font-size:1em;
}
table {
	margin:0 0 20px 20px;
	background:rgba(0,0,0,.8);
	border-radius:20px;
	padding:10px;
}
th, td {
	text-align:center;
	white-space:nowrap;
	padding:2px 10px 2px 0;
}
th {
	color:red;
}
th.team, td.team {
	text-align:left;
}
#league {
	list-style:none;
}
	#league li {
		width:80%;
		background-color:rgba(0,0,0,.75);
		border:1px solid #ccc;
		padding:2%;
		margin:20px;
		border-radius:20px;
		box-shadow:0 0 6px rgba(0,0,0,0.5);
	}
	#league h1 {
		text-align:left;
		font-size:1.75em;
		margin-left:0;
	}
	#league h2 {
		color:#666;
	}
	#league strong {
		color:#fff;
	}
.winner::after {
	content: "*";
	color: red;
	font-size: 180%;
}