<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
		<div id="wrapper">
			<header>
	            <h1><span>League:</span>AMSU - 12</h1>
	            <h1><span>Tournament:</span>Threesome</h1>
	        </header>

	        <article>
	            <header>
	                <h1>Pool A - Score Updates - Boomsquad vs. Burning Snow</h1>
	            </header>
	            <table>
	                <tr>
	                    <th>Team</th>
	                    <th>Result</th>
	                    <th>Team</th>
	                </tr>

	                <tr>
	                    <td class="winner">Boomsquad</td>
	                    <td>3 - 2</td>
	                    <td>Burning Snow</td>
	                </tr>
	            </table>

	            <table id="game">
	                <tr>
	                    <th>Set</th>
	                    <th>Team</th>
	                    <th>Points</th>
	                    <th>Team</th>
	                </tr>

	            </table>
	        </article>
		</div>	
        
		<!-- Template -->
        <script id="setTemplate" type="text/template">
			<td><%= set %></td>
			<td><%= team1 %></td>
			<td><%= team1Score %> - <%= team2Score %></td>
			<td><%= team2 %></td>
        </script>
		
		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

		<!-- Application -->
		<script src="js/app/app.js"></script>
		
		<!-- Models & Collections -->
		<script src="js/app/models/setModel.js"></script>
		<script src="js/app/collections/gameCollection.js"></script>
		
		<!-- Views -->
		<script src="js/app/views/game/setView.js"></script>
		<script src="js/app/views/game/gameView.js"></script>
		
        
    </body>
</html>