<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
		<div id="wrapper">
			<header>
	            <h1><span>League:</span>AMSU - 12</h1>
	            <h1><span>Tournament:</span>Threesome</h1>
	        </header>

	        <article>
	            <header>
	                <h1>Pool A - Ranking</h1>
	            </header>
	            <table id="pool">
	                <tr>
	                    <th class="team">Team</th>
	                    <th>W</th>
	                    <th>L</th>
	                    <th>Sets won</th>
	                    <th>Sets lost</th>
	                    <th>Points won</th>
	                    <th>Points lost</th>
	                    <th>+/-</th>
	                </tr>
	
	            </table>
	        </article>
		</div>	
        
		<!-- Template -->
        <script id="teamTemplate" type="text/template">	
			<td class="team"><%= team %></td>
			<td><%= Win %></td>
			<td><%= Lost %></td>
			<td><%= Sw %></td>
			<td><%= Sl %></td>
			<td><%= Pw %></td>
			<td><%= Pl %></td>
			<td><%= saldo %></td>
       	</script>
		
		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

		<!-- Application -->
		<script src="js/app/app.js"></script>
		
		<!-- Models & Collections -->
		<script src="js/app/models/teamModel.js"></script>
		<script src="js/app/collections/poolCollection.js"></script>
		
		<!-- Views -->
		<script src="js/app/views/ranking/teamView.js"></script>
		<script src="js/app/views/ranking/poolView.js"></script>
		
        
    </body>
</html>